/* COLOR VARIALES -> Assign where wanted */
:root {
--red:red;
--blue: #021e28;;
--black: black;
--white: white;
--LightBlue: rgb(85, 85, 182);
/* Starting Header Variales */
--headerText: var(--white);
--headerBg: var(--black);
--headerBottom: var(--LightBlue);
}
/* Red */
[data-section="red"] {
  background-color: var(--red);
  color: var(--white);
}
[headerColors="red"]  {
  --headerText: var(--red);
  --headerBg: var(--white);
}
/* Black */
[data-section="black"] {
  background-color: var(--white);
  color: var(--black);
}
[headerColors="black"]  {
  --headerText: var(--black);
  --headerBg: var(--white);
}
/* Blue */
[data-section="blue"] {
  background-color: var(--blue);
  color: var(--white);
}
[headerColors="blue"] {
  --headerText: var(--white);
  --headerBg: var(--black);
}
/* White */
[data-section="white"] {
  background-color: var(--white);
  color: var(--black);;
}
* {
  box-sizing: border-box;
  margin-left: auto;
}
ul {
  list-style: none;
  display: flex;
  margin-right:5em;
}

/* Privacy Policy CSS */
#privacyUL{
  display: contents;
}
#privacyPolicy {
  margin-left: 2em;
  text-align: left;
}
#privacyPolicy H1,H2 {
  text-align: center;
}
#PrivacyHome {
  padding: 1em;
  border-radius: 15%;
  color: white;
  background-color: blue;
}
#privacyContact{
  text-decoration: underline;
  color: red;
}
#PrivacyButtons{
  margin-top: 3em;
  text-align: center;
  margin-bottom: 2em;
}
/* Inherit headerheaderColors from JS observer */
header a, a {
  color: inherit;
  text-decoration: none;
}
footer {
  border-top: 5px solid var(--headerBottom);
  padding-left: 4em;
  padding-bottom: 2em;
  padding-top: 1em;
  background-color: #02374a;
  color: #f1f1f1;
}
footer a{
  color: rgb(170, 170, 206);
  font-weight: 750;
}
#About {
  padding-top: 3em;
  border-bottom: 5px solid #021e28;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
}
.source a:hover {
  color:var(--headerBottom);
}
/* Section Break out */
section {
  text-align: center;
}
/* --Header-- */
header {
  position: fixed;
  text-wrap: flex;
  width: 100%;
  background-color: var(--headerBg); /* variale for colors */
  color: var(--headerText);
  z-index: 1;
  padding-top: .5em;
  border-bottom: 5px solid var(--headerBottom);
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation a:hover {
color:var(--headerBottom)
}
/* Home Button */
#homeButton {
  margin-left: 5em;
}
/* Header Item Links */
ul a {
  padding: 1rem;
}
/* HB Adjusted width for mobile view */
@media (max-width: 50rem) { 
  #homeButton  {
    margin-left: 1em;
  }
  ul {
    margin-right:0em;
  }
}
/* Search Function */
#search {
  padding-top: 0em;
  background-color: rgb(226, 219, 219);
  color: rgb(56, 53, 53);
  height: 30em;
  text-align: center;
  overflow: scroll;
}
#search p {
  margin-left: 30%;
  margin-right: 30%;
}

#search p:hover {
  color: rgb(76, 63, 83);
  text-decoration:underline;
  text-indent: .5%;
}
#searchBar{
  padding:.5em;
  background-color: rgb(226, 219, 219);
  border-bottom: 2px solid rgb(230, 230, 230);
}
#SongList{
  margin-top: -1em;
}
/* Body */
body {
  margin: auto;
} 
/* --content -> IMPORTANT */
.content {
  height: 100vh;
  width: 100%;
  overflow: auto;
  margin-top: -1em;
}
/* Bannder Images */
.banner {
  align-items: center;
  height:25em;
  width: 100%;
}
#setImage {
  height:10em;
  width: 6em;
}
#home {
  background-color: rgb(29, 7, 7);
  height: 20%;
  width: 100%;
  margin-bottom: 1em;
}
/* Adjust fading annimations */
.fade {
  margin-top: -2em;
  animation-name: fade; /* declare animation */
  width: 100%;
  animation-duration: 1s;
  transition: background-color 7s ease;
} 
/* TEXT OVER IMAGES https://stackoverflow.com/questions/16492135/how-to-put-text-over-css-image-carousel */
.fade p {
  position: relative;
    margin-top: -3em; 
    color:white; /* change color based on images */
    text-shadow: #555;
    width: auto;
      top: 5em;
      font-size:4em; /* CHANGE SIZE FOR SMALLER SCREENS */ 
      font-weight: bold;
  }
.fade h6{
    position: relative;
      margin-top: -2em; 
      color:white; /* change color based on images */
      width: auto;
        top: 33em;
        left:.1em;
    }
/* Set Fade Settings */
@keyframes fade { 
  from {opacity: .1} 
  to {opacity: .85}
}
/* CSS for Smooth Scroll within page content*/ 
@media (prefers-reduced-motion: no-preference) {
  .content {
    scroll-behavior: smooth;
  }
}
/* sets */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#Sets{
   background-image: url("Images/Background/PiperWall.jpg");;
  background-size: cover;
  margin-top: -1.55em;
}
#Sets H1 {
  padding-top: 3em;
  color: rgb(244, 241, 235);
}
.SheetMusic {
  padding-top: 3em;;
  width:45em;
  height:auto;
  overflow: scroll;
}
@media (max-width: 50rem) { 
  .SheetMusic  {
    width:100%;
  }
}
/* Contact */
#Contact {
  width:100%;
  margin-top: -.5em;
  border-top: 5px solid var(--headerBottom);
  padding: 2em;
}
#ContactFrom {
  width:17em;
  padding: .5em;
}

textarea {
  width: 19em;
}
/* SET IMAGES IMAGES https://www.w3schools.com/howto/howto_css_image_overlay.asp */ 
.SetBox{
  display: inline-block;
  padding: 2em;
}
.BoxContainer {
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
}
.BoxContainer:hover .TextOverlay {
  opacity: 1;
}
.setImage {
  height:13em;
  width:13em;
}
.SetText a {
  color:rgb(91, 74, 74);
}
.SetText a:hover {
  color:rgb(163, 127, 127);
  font-size: 110%;
}
.TextOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  color: #b1c3c9;
  background-color: #021e28;
}
/* Mobile View Settings */
@media (max-width: 50rem) { 
  .setImage  {
    height:9em;
    width:9em;
  }
  .BoxContainer {
    margin-bottom: 1em;
  }
  .SetText {
    font-size: x-small;
  }
}
/* Dropdown 
https://www.w3schools.com/howto/howto_css_dropdown.asp 
*/
.SetDrop {
  position: relative;
  display: inline-block;
}
.SetDrop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.SetDrop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.SetDrop-content a:hover {background-color: #ddd;}
.SetDrop:hover .SetDrop-content {display: block;}

/* ----- */

#ScotsWhaHae {
  padding-bottom: 1em;
}
